.home {
  display: flex;
  justify-content: center; /* set to center instead of space-between */
  align-items: center;
  padding: 2rem;
  background: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgba(105, 90, 166, 0.35),
    rgba(73, 51, 158, 0.5)
  );
  height: 100vh; /* set the height to 100vh to center vertically */
}

.text-container h1 {
  font-size: 100px;
  font-weight: bold;
  font-family: "primary";
  line-height: 120%;
  letter-spacing: -0.05em;
  margin-bottom: 2px;
  color: rgba(0, 0, 0, 0.607);
  justify-content: center;
}

.text-container p {
  margin: 0;
  font-size: 45px;
  margin-bottom: 4px;
  font-family: "primary";
  color: rgba(0, 0, 0, 0.607);
  font-style: italic;
}

.image-container {
  margin-left: 5.5rem;
  flex-basis: 50%; /* set the width of the image container to 50% of the parent container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: auto;
  height: 700px;
  background: linear-gradient(
    to bottom right,
    rgba(105, 90, 166, 0.35),
    #ffffff
  ); /* set a gradient as the background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* add a shadow for depth */
  border-radius: 50%; /* set the border radius to 50% of the element's width/height */
  width: 600px; /* set the width and height of the image */
  height: 600px;
  object-fit: cover; /* maintain aspect ratio of the image */
}

.about-me {
  flex-basis: 50%;
  padding: 10rem;
  font-size: 25px;
  margin-bottom: 4px;
  font-family: "primary";
  color: rgba(0, 0, 0, 0.607);
  font-style: italic;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;

}

.container .cards {
  position: relative;
  width: 300px;
  height: 400px;
  background: linear-gradient(rgb(189, 189, 189), rgb(189, 189, 189) 30%, rgb(170, 147, 255) 30%,rgb(194, 151, 255));
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.container .cards .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 100000;
  border-radius: 20px;
  overflow: hidden;
  transform-origin: top;
}

.container .cards:hover .imgBx {
  transform: translateY(30px) scale(0.5);
}

.container .cards .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .cards .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  transform: translateY(100%);
  transition: 0.5s;
}

.container .cards:hover .content {
  transform: translateY(0);
}

.container .cards .content .details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container .cards .content .details h2 {
  color: #fff;
  font-size: 0.9em;
  font-weight: 500;
}

.container .cards .content .details h2 span {
  font-size: 0.8em;
  font-weight: 400;

}

.social_icons {
  position: relative;
  display: flex;
  margin-top: 5px;
}

.social_icons li {
  list-style: none;
  margin: 4px;
}

.social_icons li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  border-radius: 50%;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.social_icons li a:hover {
  transform: rotate(360deg);
  background: white;
  color: red;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(88, 87, 87);
  color: #fff;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #777;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .hamburger-menu {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links li a {
    margin: 10px 0;
  }

  .active {
    display: flex;
  }

  .bar:nth-child(2) {
    opacity: 0;
  }

  .bar:first-child {
    transform: translateY(7px) rotate(45deg);
  }

  .bar:last-child {
    transform: translateY(-7px) rotate(-45deg);
  }
}

